.navbar {
  padding-top: 0.5rem;
  padding-left: 2rem;
  width: 100%;
  height: 10vh;
  background-color: #333333;
  border-bottom: 1px solid gray;
}
.logo {
  height: 7vh;
  margin-left: 2rem;
}

.flexy {
  display: flex;
  align-items: center;
}

.logoname {
  margin-left: 10px;
  font-size: 30px;
  background: -webkit-linear-gradient(#3f0071, #fb2576);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
