.sidebar {
  background-color: #333333;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.menu {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  /* display: none; */
}
.menu a {
}
.nav {
  background-color: #27272792;
  margin-top: 10vh;
  width: 250px;
  height: 45vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  /* left: -100%; */
  transition: 0.3s;
}
.side-text {
  font-size: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}
.side-text a {
  color: pink;
  text-decoration: none;
  font-size: 48px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.side-text a:hover {
  background: -webkit-linear-gradient(#3f0071, #fb2576);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.side-items {
  width: 100%;
}
.side-items-closed {
  display: none;
}

.side-toggle {
  color: pink;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nab span {
  display: none;
}

span {
  font-size: 1.5rem;
  margin-left: 16px;
}
