.footer {
  margin-top: 3rem;
  border-top: 0.5px solid gainsboro;
  height: 25vh;
  background-image: url("../../assets/eMnp5F.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background-position: left;
  font-family: tweb;
  font-weight: bolder;
}

@font-face {
  font-family: dosis;
  src: url(../../../public/fonts/Dosis-Bold.ttf);
}
@font-face {
  font-family: tweb;
  src: url(../../../public/fonts/TitilliumWeb-Bold.ttf);
}
@font-face {
  font-family: delicious;
  src: url(../../../public/fonts/DeliciousHandrawn-Regular.ttf);
}
.text {
  width: 96%;
  margin-left: 2rem;
  margin-top: 1rem;
  color: gray;
  line-height: 2rem;
}
.icons {
  margin-bottom: 2rem;
  border-bottom: 1px solid gainsboro;
}

.footer-info {
  text-align: center;
  width: 90vw;
}
