.HomePage {
  background-image: url(../../assets/452-4526014_part-4-png-jojos-bizarre-adventure-stone-ocean-removebg-preview.png);
  background-position: 700px 0px;
  background-size: 50%;
  background-repeat: no-repeat;
}
.home {
  height: 100vh;
  width: 82%;
  margin-left: 9%;
  /* margin-top: 100px; */
  /* background-color: beige; */
}
.p30 {
  padding: 30px;
}
.searchcontainer {
  margin-top: 30px;
  width: 50%;
  height: 50px;
  /* background-color: black; */
  display: flex;
  /* justify-content: space-between; */
  position: relative;
}
.homesearch {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: rgb(56, 56, 241) 0.5px solid;
  outline: none;
  font-size: 25px;
  padding-left: 15px;
}
.searchbtn {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  height: 40px;
  width: 40px;
  /* position: absolute; */
  border-radius: 50%;
  border: none;
  background-color: #333333;
}
.searchbtn:hover {
  cursor: pointer;
}
/* nece komit gg. */
.desc {
  margin: auto;
  width: 80%;
  color: white;
}
.desc p {
  font-size: 20px;
  margin-bottom: 20px;
}
